.chat-main
  .chat-main__group-info
    .group-info
      .group-info__name-member
        .group-info__name-member__name
          %span<>
            group_name
        .group-info__name-member__member
          %span<>
            Member：group_member
      .group-info__edit
        = link_to "#", class: "group-info__edit__btn" do
          %span<>
            Edit
  .chat-main__message-list
    .message-box
      .message-box__message
        .message-box__message__name-date
          .message-box__message__name-date__name
            %span<>
              name1
          .message-box__message__name-date__date
            %span<>
              date1
        .message-box__message__text
          %span<>
            text1
      .message-box__message
        .message-box__message__name-date
          .message-box__message__name-date__name
            %span<>
              name2
          .message-box__message__name-date__date
            %span<>
              date2
        .message-box__message__text
          %span<>
            text2
  .chat-main__message-form




