.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        %span<>
          name
      .top-items__icons
        = link_to "#", class: "top-items__icon top-items__icons--edit" do
          = icon('far', 'edit', class: "top-items__icon--edit")
        = link_to "#", class: "top-items__icon top-items__icons--cog" do
          = icon('fas', 'cog', class: "top-items__icon--cog")
  .side-bar__group-list
    .group
      .group__name
        %span<>
          group_name1
      .group__message
        %span<>
          group_message1
    .group
      .group__name
        %span<>
          group_name2
      .group__message
        %span<>
          group_message2
